@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;


.sub-heading {
  @apply text-2xl text-green-600 mb-1 font-sans;
}

.item {
  @apply mt-4;
}

.little-divider {
  @apply w-10 border-green-500;
}

.feature-list {
  @apply bg-gray-200 py-4 pl-4 flex-grow max-w-md border-gray-200 rounded-sm hidden shadow;
}

.form-label {
  @apply block text-gray-800 text-sm font-bold mb-2 font-sans;
}

.form-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.form-control {
  @apply mb-4 w-full;
}

.form-control:focus-within .form-label {
  @apply text-green-600;
}

.form-input:focus {
  @apply shadow-md outline-none border-green-500;

}

.section-heading {
  @apply text-3xl font-sans mt-10;
}

.subtle-link {
  @apply text-sm text-gray-800;
}

.code-link {
}

.code-link:hover {
  @apply underline;
}

.code-link > span {
  line-height: 14px;
  @apply inline align-middle;
}

.code-link i {
  @apply text-sm inline align-middle;
  line-height: 14px;
}

.nav-link {
  @apply ml-2 mr-2;
}

.nav-link:hover {
  @apply text-green-700;
}

.responsive-button {
  @apply py-1 px-3 w-full mt-1;
}

.subtle-button {
  @apply rounded border bg-gray-200 text-gray-800 text-sm;
}

section {
  @apply max-w-5xl;
}


@screen md {
  .form-input {
    @apply max-w-md;
  }
  .item {
    @apply mx-3 mt-2;
  }

  .feature-list {
    @apply flex-grow block;
  }

  .nav-link {
    @apply mr-4;
  }

  .nav-link:nth-child(1) {
    @apply ml-auto
  }

  .responsive-button {
    @apply w-auto mt-0;
  }
}
